@page "/group/{groupIdString}"
@using Radzen.Blazor
@inject NavigationManager nav;
@inject HttpClient http;
@inject DialogService dialog;
@inject NotificationService notification;
@inject StateContainer container;

<PageTitle>PhotoShare - @(Group?.Name)</PageTitle>
<EditForm Model="typeof(Group)">
<div class="d-inline-flex flex-row justify-content-between" style="width: 100%; padding: 0 50px 20px 0; ">
    <div class="d-inline-flex flex-column px-4">
        <div class="name d-inline-flex flex-row">
                @if (editName)
                {
                    <RadzenTextBox @bind-Value="Group.Name"></RadzenTextBox>  
                    <button class="btn btn-success" @onclick="UpdatedGroupAsync"><RadzenIcon Icon="done"/></button>
                } else {
                    <h3>@(Group?.Name)</h3>
                    @if(isAdmin){
                        <a @onclick="() => editName = true"><RadzenIcon Icon="edit"></RadzenIcon></a>
                    }
                }

            </div>
        <div class="description d-inline-flex flex-row">
              @if (editDescription)
                {
                    <RadzenTextArea @bind-Value="Group.Description"></RadzenTextArea>  
                    <button class="btn btn-success" @onclick="UpdatedGroupAsync"><RadzenIcon Icon="done"/></button>
                } else {
                    <div> @(Group?.Description ?? "")</div>
                   @if(isAdmin){
                        <a @onclick="() => editDescription = true"><RadzenIcon Icon="edit"></RadzenIcon></a>
                   }
                }

        </div>
    </div>
    <div >
        @if(isAdmin)
        {
            <button class="btn btn-danger" @onclick="@DeleteGroup">Gruppe Löschen</button>
        }
    </div>
</div>
</EditForm>

<PhotoShare.Client.Components.Pictures.PictureOverview GroupId="@GroupId" AdminKey="@adminKey" />




@code {
 async Task ShowErrorLoadingGroup()
 {
    
   var result = await dialog.OpenAsync("Fehler aufgetreten", ds =>
    @<div>
                                <p Style="margin-bottom: 1rem">Ein Fehler beim Laden der Gruppe ist aufgetreten, bitte Überprüfen Sie die Eingabe.</p>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <RadzenButton Text="Ok" Click="() => {ds.Close(true); nav.NavigateTo(nav.BaseUri); }" Style="margin-bottom: 10px; width: 150px" />
                                                
                                        </div>
                                    </div>
    </div>
         );
    }


    private async Task<bool> ShowDeletionDialog()
    {
        var result = await dialog.Confirm("Löschung bestätigen!", $"Sind Sie sicher dass Sie die Gruppe mitsamt den ganzen Bilder löschen möchten? Diese Aktion kann nicht mehr Rückgängig gemacht werden", new ConfirmOptions() { OkButtonText = "Ja", CancelButtonText = "Nein" });
        return result ?? false;
    }

}